<!--
    Copyright © 2024 Mika Epstein (Ipstenu)
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
-->
{{ $photogallery := $.Page.Params.photogallery }}
{{ $title := "Photo Gallery" }}

{{ if .Get "title" }}
    {{ $title := .Get "title" }}
{{ end }}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {{ range $photogallery }}
        {{- $imageurl := . | absURL -}}
        {{- $imagesrc := . | absURL -}}

        <!-- This handles all local images -->
        {{ with resources.Get $imageurl }}
            {{ $image := $imageurl.Crop "250x250" }}
            {{ $imagesrc = $image.RelPermalink }}
        {{ end }}

        <!--
            This sets the download path for the remote images. 
            If your image is at example.com/folder/image.jpg then it will be 
            downloaded to /img/folder/image.jpg. The RNG prevents name conflicts.
        -->
        {{ $dir  := (urls.Parse $imageurl).Path }}

        <!-- This handles all remote images -->
        {{ with resources.GetRemote $imageurl | resources.Copy $dir }}
            {{ $image := . }}
            {{ $imageurl = $image.Permalink }}
            {{ $image = $image.Crop "250x250" }}
            {{ $imagesrc = $image.RelPermalink }}
        {{ end }}
    <div class="col">
        <div class="card">
            <div class="mx-auto">
                <img src="{{ $imagesrc }}" class="img-fluid img-lightbox" alt="{{ $title }}" data-toggle="lightbox" data-gallery="gallery" data-src="{{ $imageurl }}">
           </div>
        </div>
    </div>
    {{ end }}
</div>
